USE [QL_THIETBI]
GO
/****** Object:  Table [dbo].[BAIHOC]    Script Date: 11/11/2023 3:39:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAIHOC](
	[MABAI] [varchar](15) NOT NULL,
	[MAMON] [varchar](15) NULL,
	[TENBAI] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUON]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUON](
	[MAPHIEUMUON] [varchar](15) NOT NULL,
	[MATB] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTDAY]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDAY](
	[MAGV] [varchar](15) NOT NULL,
	[MAMON] [varchar](15) NOT NULL,
	[NAMHOC] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHEUXL]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHEUXL](
	[MAPHIEUXL] [varchar](10) NOT NULL,
	[MATB] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[TINHTRANG] [nvarchar](30) NULL,
	[HUONGXL] [nvarchar](40) NULL,
	[MUCDENBU] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHIEUDAT]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHIEUDAT](
	[MATB] [varchar](10) NOT NULL,
	[MAPHIEUDAT] [varchar](15) NOT NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHIEUHH]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHIEUHH](
	[ID_PHIEUGNHH] [varchar](20) NOT NULL,
	[MATB] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHIEUNGHIEMTHU]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHIEUNGHIEMTHU](
	[MATB] [varchar](10) NOT NULL,
	[MAPHIEUNGHIEMTHU] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[TINHTRANG] [nvarchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[MAPHIEUNHAP] [varchar](20) NULL,
	[MATB] [varchar](10) NULL,
	[soluong] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHIEUTRA]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHIEUTRA](
	[MAPHIEUTRA] [varchar](10) NOT NULL,
	[MATB] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[TINHTRANG] [nvarchar](30) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTTHANHLY]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTTHANHLY](
	[MAPHIEU] [varchar](15) NOT NULL,
	[MATB] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[TINHTRANG] [nvarchar](30) NULL,
	[HUONGTHANHLY] [nvarchar](50) NULL,
	[TIENTHANHLY] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTTHIETBITHEOLOP]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTTHIETBITHEOLOP](
	[MAPHIEUDSTHIETBI] [varchar](10) NOT NULL,
	[MATB] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [varchar](15) NOT NULL,
	[TEN] [nvarchar](40) NULL,
	[EMAIL] [varchar](40) NULL,
	[SDT] [varchar](10) NULL,
	[GT] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[PASSWORD] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[ID_HOCSINH] [varchar](10) NOT NULL,
	[MALOP] [varchar](15) NULL,
	[TEN] [nvarchar](40) NULL,
	[GIOITINH] [nvarchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOILOP]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOILOP](
	[ID_KHOI] [varchar](10) NOT NULL,
	[TENKHOI] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHHOC]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHHOC](
	[ID_LICH] [varchar](10) NOT NULL,
	[MALOP] [varchar](15) NULL,
	[MAPHONG] [varchar](10) NULL,
	[MABAI] [varchar](15) NULL,
	[MAPHIEUDSTHIETBI] [varchar](10) NULL,
	[NGAY] [datetime] NULL,
	[GIOBATDAU] [datetime] NULL,
	[GIOKETTHUC] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPH] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITHIETBI]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITHIETBI](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](15) NOT NULL,
	[TENLOP] [nvarchar](20) NULL,
	[SISO] [int] NULL,
	[ID_KHOI] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMON] [varchar](15) NOT NULL,
	[ID_KHOI] [varchar](10) NULL,
	[TENMON] [nvarchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](15) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](15) NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](60) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](20) NULL,
	[MATKHAU] [varchar](15) NULL,
	[TRANGTHAI] [bit] NULL,
	[QUYEN] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MAPHIEUDAT] [varchar](15) NOT NULL,
	[MANV] [varchar](15) NULL,
	[MANCC] [varchar](15) NULL,
	[NGAYLAP] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDSTHIETBITHEOLOP]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDSTHIETBITHEOLOP](
	[NGAYLAP] [datetime] NULL,
	[MAPHIEUDSTHIETBI] [varchar](10) NOT NULL,
	[MANV] [varchar](15) NULL,
	[MABAI] [varchar](15) NULL,
	[MALOP] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUGHINHANHUHONG]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUGHINHANHUHONG](
	[ID_PHIEUGNHH] [varchar](20) NOT NULL,
	[MANV] [varchar](15) NULL,
	[NGAYLAP] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPHIEUMUON] [varchar](15) NOT NULL,
	[MAGV] [varchar](15) NULL,
	[THOIGIANMUON] [datetime] NULL,
	[THOIGIANTRA] [datetime] NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNGHIEMTHU]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNGHIEMTHU](
	[MAPHIEUNGHIEMTHU] [varchar](10) NOT NULL,
	[MANV] [varchar](15) NULL,
	[ID_LICH] [varchar](10) NULL,
	[NGAYLAP] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [varchar](20) NOT NULL,
	[MAPHIEUDAT] [varchar](15) NULL,
	[MANV] [varchar](15) NULL,
	[NGAYLAP] [datetime] NULL,
	[TINHTRANG] [bit] NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHANHLY]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHANHLY](
	[MAPHIEU] [varchar](15) NOT NULL,
	[MANV] [varchar](15) NULL,
	[ID_PHIEUGNHH] [varchar](20) NULL,
	[NGAYLAP] [datetime] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[TONGTIEN] [float] NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MAPHIEUTRA] [varchar](10) NOT NULL,
	[MAPHIEUMUON] [varchar](15) NULL,
	[NGAYLAP] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUXL]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUXL](
	[MAPHIEUXL] [varchar](10) NOT NULL,
	[MAPHIEUTRA] [varchar](10) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIENDENBU] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [varchar](10) NOT NULL,
	[MALOAIPH] [varchar](10) NULL,
	[TENPHONG] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 11/11/2023 3:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [varchar](10) NOT NULL,
	[MALOAI] [varchar](10) NULL,
	[TENTB] [nvarchar](40) NULL,
	[GIA] [float] NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BAIHOC] ([MABAI], [MAMON], [TENBAI]) VALUES (N'BS1001', N'SINH10', N'Tế bào nhân sơ')
INSERT [dbo].[BAIHOC] ([MABAI], [MAMON], [TENBAI]) VALUES (N'BS1002', N'SINH10', N'Tế bào nhân thực')
INSERT [dbo].[BAIHOC] ([MABAI], [MAMON], [TENBAI]) VALUES (N'BS1003', N'SINH10', N'Thí nghiệm co và phản co nguyên sinh')
INSERT [dbo].[CTPHIEUHH] ([ID_PHIEUGNHH], [MATB], [SOLUONG], [GHICHU]) VALUES (N'PHH2023111020954', N'TB006', 2, N'')
INSERT [dbo].[CTPHIEUHH] ([ID_PHIEUGNHH], [MATB], [SOLUONG], [GHICHU]) VALUES (N'PHH2023111020954', N'TB004', 3, N'bị vỡ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [TEN], [EMAIL], [SDT], [GT], [DIACHI], [PASSWORD]) VALUES (N'GV001', N'Nguyễn Thị Thu', N'nguyenthu@gmail.com', N'0784125414', N'Nữ', N'Tân Phú,Tp.HCM', N'123456')
INSERT [dbo].[GIAOVIEN] ([MAGV], [TEN], [EMAIL], [SDT], [GT], [DIACHI], [PASSWORD]) VALUES (N'GV002', N'Trần Công Hậu', N'conghau@gmail.com', N'0145214524', N'Nam', N'Tân Bình,Tp.HCM', N'123456')
INSERT [dbo].[GIAOVIEN] ([MAGV], [TEN], [EMAIL], [SDT], [GT], [DIACHI], [PASSWORD]) VALUES (N'GV003', N'Lưu Đức Hòa', N'duchoa@gmail.com', N'0547412547', N'Nam', N'Bình Thạnh,Tp.HCM', N'123456')
INSERT [dbo].[HOCSINH] ([ID_HOCSINH], [MALOP], [TEN], [GIOITINH]) VALUES (N'HS001', N'L001
', N'Nguyễn Thị Thu Hoa', N'Nữ')
INSERT [dbo].[HOCSINH] ([ID_HOCSINH], [MALOP], [TEN], [GIOITINH]) VALUES (N'HS002', N'L001
', N'Huỳnh Văn An', N'Nam')
INSERT [dbo].[HOCSINH] ([ID_HOCSINH], [MALOP], [TEN], [GIOITINH]) VALUES (N'HS003', N'L001
', N'Trần An', N'Nam')
INSERT [dbo].[KHOILOP] ([ID_KHOI], [TENKHOI]) VALUES (N'K01', N'Khối 10')
INSERT [dbo].[KHOILOP] ([ID_KHOI], [TENKHOI]) VALUES (N'K02', N'Khối 11')
INSERT [dbo].[KHOILOP] ([ID_KHOI], [TENKHOI]) VALUES (N'K03', N'Khối 12')
INSERT [dbo].[LOAIPHONG] ([MALOAIPH], [TENLOAI]) VALUES (N'LPLT', N'Phòng lý thuyết')
INSERT [dbo].[LOAIPHONG] ([MALOAIPH], [TENLOAI]) VALUES (N'LPTH', N'Phòng thực hành')
INSERT [dbo].[LOAITHIETBI] ([MALOAI], [TENLOAI]) VALUES (N'LTB001', N'Thiết bị giảng dạy')
INSERT [dbo].[LOAITHIETBI] ([MALOAI], [TENLOAI]) VALUES (N'LTB002', N'Thiết bị học tập')
INSERT [dbo].[LOAITHIETBI] ([MALOAI], [TENLOAI]) VALUES (N'LTB003', N'Dụng cụ phòng thực hành')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO], [ID_KHOI]) VALUES (N'L001
', N'Lớp 10A1
', 50, N'K01')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO], [ID_KHOI]) VALUES (N'L002
', N'Lớp 10A2
', 45, N'K01')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO], [ID_KHOI]) VALUES (N'L003', N'Lớp 10A3', 55, N'K01')
INSERT [dbo].[MONHOC] ([MAMON], [ID_KHOI], [TENMON]) VALUES (N'TOAN10', N'K01', N'Toán 10')
INSERT [dbo].[MONHOC] ([MAMON], [ID_KHOI], [TENMON]) VALUES (N'TOAN11', N'K02', N'Toán 11')
INSERT [dbo].[MONHOC] ([MAMON], [ID_KHOI], [TENMON]) VALUES (N'SINH10', N'K01', N'Sinh học 10')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [MATKHAU], [TRANGTHAI], [QUYEN]) VALUES (N'NV001', N'Trần Quản ', CAST(N'1990-10-30 00:00:00.000' AS DateTime), N'Tân Phú,Tp.HCM', N'0987451145', N'tranquan@gmail.com', N'123456', 1, N'Quản lý kho')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [MATKHAU], [TRANGTHAI], [QUYEN]) VALUES (N'NV002', N'Trần Thị Thu Hà', CAST(N'1999-12-02 00:00:00.000' AS DateTime), N'Tân Bình,Tp.HCM', N'0874512547', N'thuha@gmail.com', N'123456', 1, N'Nhân viên kho')
INSERT [dbo].[PHIEUDSTHIETBITHEOLOP] ([NGAYLAP], [MAPHIEUDSTHIETBI], [MANV], [MABAI], [MALOP]) VALUES (CAST(N'2023-10-15 00:00:00.000' AS DateTime), N'DSTB0001', NULL, NULL, NULL)
INSERT [dbo].[PHIEUGHINHANHUHONG] ([ID_PHIEUGNHH], [MANV], [NGAYLAP]) VALUES (N'PHH001', N'NV001', CAST(N'2023-11-10 00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUGHINHANHUHONG] ([ID_PHIEUGNHH], [MANV], [NGAYLAP]) VALUES (N'PHH2023111020954', N'NV001', CAST(N'2023-11-10 20:09:54.710' AS DateTime))
INSERT [dbo].[PHONG] ([MAPHONG], [MALOAIPH], [TENPHONG]) VALUES (N'A101', N'LPTH', N'Phòng A101')
INSERT [dbo].[PHONG] ([MAPHONG], [MALOAIPH], [TENPHONG]) VALUES (N'A102', N'LPTH', N'Phòng A102')
INSERT [dbo].[PHONG] ([MAPHONG], [MALOAIPH], [TENPHONG]) VALUES (N'A103', N'LPTH', N'Phòng A103')
INSERT [dbo].[THIETBI] ([MATB], [MALOAI], [TENTB], [GIA], [SOLUONG]) VALUES (N'TB001', N'LTB001', N'Bản đồ Việt Nam', 150000, 10)
INSERT [dbo].[THIETBI] ([MATB], [MALOAI], [TENTB], [GIA], [SOLUONG]) VALUES (N'TB002', N'LTB001', N'Mô hình cơ thể người', 2000000, 10)
INSERT [dbo].[THIETBI] ([MATB], [MALOAI], [TENTB], [GIA], [SOLUONG]) VALUES (N'TB003', N'LTB003', N'Kéo', 50000, 100)
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_BAIHOC]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[BAIHOC] ADD  CONSTRAINT [PK_BAIHOC] PRIMARY KEY NONCLUSTERED 
(
	[MABAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CHITIETPHIEUMUON]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[CHITIETPHIEUMUON] ADD  CONSTRAINT [PK_CHITIETPHIEUMUON] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUMUON] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CTDAY]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[CTDAY] ADD  CONSTRAINT [PK_CTDAY] PRIMARY KEY NONCLUSTERED 
(
	[MAGV] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CTPHEUXL]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[CTPHEUXL] ADD  CONSTRAINT [PK_CTPHEUXL] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUXL] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CTPHIEUDAT]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[CTPHIEUDAT] ADD  CONSTRAINT [PK_CTPHIEUDAT] PRIMARY KEY NONCLUSTERED 
(
	[MATB] ASC,
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CTPHIEUHH]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[CTPHIEUHH] ADD  CONSTRAINT [PK_CTPHIEUHH] PRIMARY KEY NONCLUSTERED 
(
	[ID_PHIEUGNHH] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CTPHIEUNGHIEMTHU]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[CTPHIEUNGHIEMTHU] ADD  CONSTRAINT [PK_CTPHIEUNGHIEMTHU] PRIMARY KEY NONCLUSTERED 
(
	[MATB] ASC,
	[MAPHIEUNGHIEMTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CTPHIEUTRA]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[CTPHIEUTRA] ADD  CONSTRAINT [PK_CTPHIEUTRA] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUTRA] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CTTHANHLY]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[CTTHANHLY] ADD  CONSTRAINT [PK_CTTHANHLY] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEU] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CTTHIETBITHEOLOP]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[CTTHIETBITHEOLOP] ADD  CONSTRAINT [PK_CTTHIETBITHEOLOP] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUDSTHIETBI] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_GIAOVIEN]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[GIAOVIEN] ADD  CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOCSINH]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[HOCSINH] ADD  CONSTRAINT [PK_HOCSINH] PRIMARY KEY NONCLUSTERED 
(
	[ID_HOCSINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHOILOP]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[KHOILOP] ADD  CONSTRAINT [PK_KHOILOP] PRIMARY KEY NONCLUSTERED 
(
	[ID_KHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LICHHOC]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[LICHHOC] ADD  CONSTRAINT [PK_LICHHOC] PRIMARY KEY NONCLUSTERED 
(
	[ID_LICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LOAIPHONG]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY NONCLUSTERED 
(
	[MALOAIPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LOAITHIETBI]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[LOAITHIETBI] ADD  CONSTRAINT [PK_LOAITHIETBI] PRIMARY KEY NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LOP]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [PK_LOP] PRIMARY KEY NONCLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__LOP__E100BDB774B39326]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[LOP] ADD UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_MONHOC]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [PK_MONHOC] PRIMARY KEY NONCLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHACUNGCAP]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUDAT]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[PHIEUDAT] ADD  CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUDSTHIETBITHEOLOP]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[PHIEUDSTHIETBITHEOLOP] ADD  CONSTRAINT [PK_PHIEUDSTHIETBITHEOLOP] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUDSTHIETBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUGHINHANHUHONG]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[PHIEUGHINHANHUHONG] ADD  CONSTRAINT [PK_PHIEUGHINHANHUHONG] PRIMARY KEY NONCLUSTERED 
(
	[ID_PHIEUGNHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUMUON]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[PHIEUMUON] ADD  CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUNGHIEMTHU]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[PHIEUNGHIEMTHU] ADD  CONSTRAINT [PK_PHIEUNGHIEMTHU] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUNGHIEMTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUTHANHLY]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[PHIEUTHANHLY] ADD  CONSTRAINT [PK_PHIEUTHANHLY] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUTRA]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[PHIEUTRA] ADD  CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUXL]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[PHIEUXL] ADD  CONSTRAINT [PK_PHIEUXL] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUXL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHONG]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [PK_PHONG] PRIMARY KEY NONCLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_THIETBI]    Script Date: 11/11/2023 3:39:53 PM ******/
ALTER TABLE [dbo].[THIETBI] ADD  CONSTRAINT [PK_THIETBI] PRIMARY KEY NONCLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAIHOC]  WITH CHECK ADD  CONSTRAINT [FK_BAIHOC_RELATIONS_MONHOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONHOC] ([MAMON])
GO
ALTER TABLE [dbo].[BAIHOC] CHECK CONSTRAINT [FK_BAIHOC_RELATIONS_MONHOC]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUMUO] FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEUMUON])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUMUO]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_THIETBI]
GO
ALTER TABLE [dbo].[CTDAY]  WITH CHECK ADD  CONSTRAINT [FK_CTDAY_CTDAY_MONHOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONHOC] ([MAMON])
GO
ALTER TABLE [dbo].[CTDAY] CHECK CONSTRAINT [FK_CTDAY_CTDAY_MONHOC]
GO
ALTER TABLE [dbo].[CTDAY]  WITH CHECK ADD  CONSTRAINT [FK_CTDAY_CTDAY2_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[CTDAY] CHECK CONSTRAINT [FK_CTDAY_CTDAY2_GIAOVIEN]
GO
ALTER TABLE [dbo].[CTPHEUXL]  WITH CHECK ADD  CONSTRAINT [FK_CTPHEUXL_CTPHEUXL_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CTPHEUXL] CHECK CONSTRAINT [FK_CTPHEUXL_CTPHEUXL_THIETBI]
GO
ALTER TABLE [dbo].[CTPHEUXL]  WITH CHECK ADD  CONSTRAINT [FK_CTPHEUXL_CTPHEUXL2_PHIEUXL] FOREIGN KEY([MAPHIEUXL])
REFERENCES [dbo].[PHIEUXL] ([MAPHIEUXL])
GO
ALTER TABLE [dbo].[CTPHEUXL] CHECK CONSTRAINT [FK_CTPHEUXL_CTPHEUXL2_PHIEUXL]
GO
ALTER TABLE [dbo].[CTPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUD_CTPHIEUDA_PHIEUDAT] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIEUDAT] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[CTPHIEUDAT] CHECK CONSTRAINT [FK_CTPHIEUD_CTPHIEUDA_PHIEUDAT]
GO
ALTER TABLE [dbo].[CTPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUD_CTPHIEUDA_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CTPHIEUDAT] CHECK CONSTRAINT [FK_CTPHIEUD_CTPHIEUDA_THIETBI]
GO
ALTER TABLE [dbo].[CTPHIEUHH]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUH_CTPHIEUHH_PHIEUGHI] FOREIGN KEY([ID_PHIEUGNHH])
REFERENCES [dbo].[PHIEUGHINHANHUHONG] ([ID_PHIEUGNHH])
GO
ALTER TABLE [dbo].[CTPHIEUHH] CHECK CONSTRAINT [FK_CTPHIEUH_CTPHIEUHH_PHIEUGHI]
GO
ALTER TABLE [dbo].[CTPHIEUHH]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUH_CTPHIEUHH_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CTPHIEUHH] CHECK CONSTRAINT [FK_CTPHIEUH_CTPHIEUHH_THIETBI]
GO
ALTER TABLE [dbo].[CTPHIEUNGHIEMTHU]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUN_CTPHIEUNG_PHIEUNGH] FOREIGN KEY([MAPHIEUNGHIEMTHU])
REFERENCES [dbo].[PHIEUNGHIEMTHU] ([MAPHIEUNGHIEMTHU])
GO
ALTER TABLE [dbo].[CTPHIEUNGHIEMTHU] CHECK CONSTRAINT [FK_CTPHIEUN_CTPHIEUNG_PHIEUNGH]
GO
ALTER TABLE [dbo].[CTPHIEUNGHIEMTHU]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUN_CTPHIEUNG_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CTPHIEUNGHIEMTHU] CHECK CONSTRAINT [FK_CTPHIEUN_CTPHIEUNG_THIETBI]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [PF_CTPHIEUNHAP_PHIEUDAT] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [PF_CTPHIEUNHAP_PHIEUDAT]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [PF_CTPHIEUNHAP_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [PF_CTPHIEUNHAP_THIETBI]
GO
ALTER TABLE [dbo].[CTPHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUT_CTPHIEUTR_PHIEUTRA] FOREIGN KEY([MAPHIEUTRA])
REFERENCES [dbo].[PHIEUTRA] ([MAPHIEUTRA])
GO
ALTER TABLE [dbo].[CTPHIEUTRA] CHECK CONSTRAINT [FK_CTPHIEUT_CTPHIEUTR_PHIEUTRA]
GO
ALTER TABLE [dbo].[CTPHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUT_CTPHIEUTR_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CTPHIEUTRA] CHECK CONSTRAINT [FK_CTPHIEUT_CTPHIEUTR_THIETBI]
GO
ALTER TABLE [dbo].[CTTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_CTTHANHL_CTTHANHLY_PHIEUTHA] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUTHANHLY] ([MAPHIEU])
GO
ALTER TABLE [dbo].[CTTHANHLY] CHECK CONSTRAINT [FK_CTTHANHL_CTTHANHLY_PHIEUTHA]
GO
ALTER TABLE [dbo].[CTTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_CTTHANHL_CTTHANHLY_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CTTHANHLY] CHECK CONSTRAINT [FK_CTTHANHL_CTTHANHLY_THIETBI]
GO
ALTER TABLE [dbo].[CTTHIETBITHEOLOP]  WITH CHECK ADD  CONSTRAINT [FK_CTTHIETB_CTTHIETBI_PHIEUDST] FOREIGN KEY([MAPHIEUDSTHIETBI])
REFERENCES [dbo].[PHIEUDSTHIETBITHEOLOP] ([MAPHIEUDSTHIETBI])
GO
ALTER TABLE [dbo].[CTTHIETBITHEOLOP] CHECK CONSTRAINT [FK_CTTHIETB_CTTHIETBI_PHIEUDST]
GO
ALTER TABLE [dbo].[CTTHIETBITHEOLOP]  WITH CHECK ADD  CONSTRAINT [FK_CTTHIETB_CTTHIETBI_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CTTHIETBITHEOLOP] CHECK CONSTRAINT [FK_CTTHIETB_CTTHIETBI_THIETBI]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HOCSINH_RELATIONS_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HOCSINH_RELATIONS_LOP]
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_LICHHOC_RELATIONS_BAIHOC] FOREIGN KEY([MABAI])
REFERENCES [dbo].[BAIHOC] ([MABAI])
GO
ALTER TABLE [dbo].[LICHHOC] CHECK CONSTRAINT [FK_LICHHOC_RELATIONS_BAIHOC]
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_LICHHOC_RELATIONS_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[LICHHOC] CHECK CONSTRAINT [FK_LICHHOC_RELATIONS_LOP]
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_LICHHOC_RELATIONS_PHIEUDST] FOREIGN KEY([MAPHIEUDSTHIETBI])
REFERENCES [dbo].[PHIEUDSTHIETBITHEOLOP] ([MAPHIEUDSTHIETBI])
GO
ALTER TABLE [dbo].[LICHHOC] CHECK CONSTRAINT [FK_LICHHOC_RELATIONS_PHIEUDST]
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_LICHHOC_RELATIONS_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[LICHHOC] CHECK CONSTRAINT [FK_LICHHOC_RELATIONS_PHONG]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_RELATIONS_KHOILOP] FOREIGN KEY([ID_KHOI])
REFERENCES [dbo].[KHOILOP] ([ID_KHOI])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_RELATIONS_KHOILOP]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MONHOC_RELATIONS_KHOILOP] FOREIGN KEY([ID_KHOI])
REFERENCES [dbo].[KHOILOP] ([ID_KHOI])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MONHOC_RELATIONS_KHOILOP]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_RELATIONS_NHACUNGC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_RELATIONS_NHACUNGC]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUDSTHIETBITHEOLOP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDST_RELATIONS_BAIHOC] FOREIGN KEY([MABAI])
REFERENCES [dbo].[BAIHOC] ([MABAI])
GO
ALTER TABLE [dbo].[PHIEUDSTHIETBITHEOLOP] CHECK CONSTRAINT [FK_PHIEUDST_RELATIONS_BAIHOC]
GO
ALTER TABLE [dbo].[PHIEUDSTHIETBITHEOLOP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDST_RELATIONS_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[PHIEUDSTHIETBITHEOLOP] CHECK CONSTRAINT [FK_PHIEUDST_RELATIONS_LOP]
GO
ALTER TABLE [dbo].[PHIEUDSTHIETBITHEOLOP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDST_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDSTHIETBITHEOLOP] CHECK CONSTRAINT [FK_PHIEUDST_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUGHINHANHUHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGHI_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUGHINHANHUHONG] CHECK CONSTRAINT [FK_PHIEUGHI_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUO_RELATIONS_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUO_RELATIONS_GIAOVIEN]
GO
ALTER TABLE [dbo].[PHIEUNGHIEMTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNGH_RELATIONS_LICHHOC] FOREIGN KEY([ID_LICH])
REFERENCES [dbo].[LICHHOC] ([ID_LICH])
GO
ALTER TABLE [dbo].[PHIEUNGHIEMTHU] CHECK CONSTRAINT [FK_PHIEUNGH_RELATIONS_LICHHOC]
GO
ALTER TABLE [dbo].[PHIEUNGHIEMTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNGH_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNGHIEMTHU] CHECK CONSTRAINT [FK_PHIEUNGH_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [pf_Phieunhap_nhanvien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [pf_Phieunhap_nhanvien]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [PF_PHIEUNHAP_PHIEUDAT] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIEUDAT] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [PF_PHIEUNHAP_PHIEUDAT]
GO
ALTER TABLE [dbo].[PHIEUTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHA_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTHANHLY] CHECK CONSTRAINT [FK_PHIEUTHA_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHA_RELATIONS_PHIEUGHI] FOREIGN KEY([ID_PHIEUGNHH])
REFERENCES [dbo].[PHIEUGHINHANHUHONG] ([ID_PHIEUGNHH])
GO
ALTER TABLE [dbo].[PHIEUTHANHLY] CHECK CONSTRAINT [FK_PHIEUTHA_RELATIONS_PHIEUGHI]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_RELATIONS_PHIEUMUO] FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEUMUON])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_RELATIONS_PHIEUMUO]
GO
ALTER TABLE [dbo].[PHIEUXL]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXL_RELATIONS_PHIEUTRA] FOREIGN KEY([MAPHIEUTRA])
REFERENCES [dbo].[PHIEUTRA] ([MAPHIEUTRA])
GO
ALTER TABLE [dbo].[PHIEUXL] CHECK CONSTRAINT [FK_PHIEUXL_RELATIONS_PHIEUTRA]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_RELATIONS_LOAIPHON] FOREIGN KEY([MALOAIPH])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPH])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_RELATIONS_LOAIPHON]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_RELATIONS_LOAITHIE] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITHIETBI] ([MALOAI])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_RELATIONS_LOAITHIE]
GO
